* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 16px;

  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  scroll-snap-align: start;
}

section.full-flex {
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.full-flex p {
  font-size: clamp(1rem, 1.5vw, 1.2rem);
}


html h2.title {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
}

html h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: #1c1c1c;
  margin-bottom: 20px;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 10;
}

#logo {
  position: absolute;
  margin: 20px 0;
  transform: scale(-1);
  display: none;
}

#logo h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #1c1c1c;
  writing-mode: vertical-rl;
}

@keyframes menu {
  to {
    transform: scale(-1) translate(2px);
    opacity: 0.8;
  }
}

@keyframes menu-reverse {
  from {
    transform: scale(-1) translate(2px);
    opacity: 0.8;
  }
  to {
    transform: scale(-1) translate(0);
    opacity: 1;
  }
}

#menu {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin: 20px 0;
  align-items: center;
}

.menu-item {
  writing-mode: vertical-rl;
  transform: scale(-1);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: clamp(1.2rem, 3.5vh, 1.5rem);
}

#logo a,
.menu-item {
  color: #1c1c1c;
}

/* Main Margin */

main {
  margin-left: 50px;
}

/* Main Display & Projects */

.main-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #1c1c1c;
}

.main-display-item {
  height: 100vh;
  box-sizing: border-box;
}

#main-content {
  color: white;
  padding: 5%;
  align-content: center;
  overflow: auto;
}

#main-text {
  padding: 20px;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  font-size: clamp(1rem, 1vw, 1.2rem);
  line-height: 1.2;
  width: 35vw;
  min-height: 50vh;
  justify-self: center;
  align-content: center;
}

#main-text strong {
  font-weight: 700;
}

#main-text h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

#main-img {
  background-image: url("../projects/final-project/img/final-project-florentine2049.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Projects Grid */

.scroll-container {
  height: 100vh;
  align-content: center;
  overflow: auto;
  cursor: grab;
  user-select: none;
  padding-left: 1px;
  padding-right: 1px;

}

.grid-container {
  display: grid;
  grid-template: repeat(2, calc(50vh - 40px)) / repeat(4, calc(50vh - 40px));
  grid-auto-columns: calc(50vh - 40px);
  grid-auto-rows: calc(50vh - 40px);
  gap: 20px;
  grid-auto-flow: column;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  touch-action: auto;
}

.scroll-container::-webkit-scrollbar {
  height: 0.8rem;
}
 
.scroll-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.grid-item {
  position: relative;
  border: 10px solid white;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(28, 28, 28, 0.6) 0px 0px 0px 1px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

p.grid-item-title {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  color: #1c1c1c;
  max-width: 80%;
  text-align: center;
  z-index: 10;
  display: none;
  transition: .7s;
}

.grid-item-project {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: .2s;
}

/* About Me */

.about-container {
  display: flex;
  justify-content: center;
  margin: auto 0;
}

.about-flex {
  padding: 0 5vw;
  display: flex;
  align-items: center;
}

#my-photo {
  width: 15vw;
  max-width: 400px;
  border-radius: 50%;
  margin-right: 5vw;
  align-self: center;
}

.about-text p {
  padding: 20px 0;
  border-bottom: 1px solid #1c1c1c;
  border-top: 1px solid #1c1c1c;
  width: 40vw;
  max-width: 1000px;
  font-size: 1.125rem;
  line-height: 1.2;
  max-height: 70vh;
}

.about-credentials {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-credentials a {
  opacity: 0.8;
  transition: .2s;
  max-width: 5vw;
  min-width: 60px;
  height: auto;
}

.about-credentials a img {
  width: 100%;
  height: auto;
}

/* Skills */

.skills-container {
  display: flex;
  justify-content: center;
  margin: auto 0;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6vw;
  justify-items: center;
}

.skills-item {
  padding: 1rem;
  border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
  max-width: 22vw;
  min-height: 40vh;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skill-icon-flex {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.skill-icon-item {
  width: 3vw;
  max-width: 50px;
  height: auto;
}

.skill-icon-item img {
  width: 100%;
  height: auto;
}

/* Contact */

#contact {
  background-color: #1c1c1c;
}

.contact-container {
  display: flex;
  justify-content: center;
  margin: auto 0;
}

#contact h2 {
  color: white;
  border-bottom: 1px solid white;
}

/* Footer */

body footer {
  padding: 10px 0;
  margin-left: 50px;
  text-align: center;
  font-family: "Noto Serif", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;

  background-color: #1c1c1c;
  color: white;
}