html {
    font-size: 16px;
}

/* Header */
header {
    /* position: fixed;
    width: 100%; */
    background-color: white;
    z-index: 10;
}

header .container.flex-header {
    padding: 0.8rem 0;
}

header h1 {
    font-size: 4rem;
}

.nav-placeholder{
    position: fixed;
    top: 35px;
    left: 35px;
}

#menu {
    position: absolute;
    display: none;
    justify-self: start;
}

#logo {
    justify-self: center;
}

/* Main */

main {
    padding-top: 25px;
}

/* section {
    padding-top: 25px;
} */

 /* Main Display */

.container.projects {
    padding: 0 10%;
}

.main-display {
    display: grid;
    /* gap: 20px; */
    grid-template-columns: 2fr 1fr;
}

.main-display-item {
    /* aspect-ratio: 1; */
    height: 80vh;
    border: 1px solid black;
    padding: 1.5rem;
    box-sizing: border-box;
}

#main-img {
    background-image: url("../projects/final-project/img/final-project-section.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

#main-content {
    background-color: gray;
}

/* Projects Grid */

.scroll-container{
    margin-top: 20px;
    display: flex;
    width: 100%;
    scroll-snap-type: x mandatory; /* Smooth scrolling */
    -webkit-overflow-scrolling: touch;
}

.flex-container {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: auto;
    height: 90vh;
    gap: 20px;
    /* justify-content: space-between; */
}

.grid-item {
    flex: 1 1 auto;
    min-height: calc(40vh - 20px);
    aspect-ratio: 1 / 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
    scroll-snap-align: start; /* Smooth scroll snapping */
    border: 1px solid black;
}

/* About */

.about {
    min-height: 100px;
    padding: 2rem;
}

.about h2 {
    font-size: 1.5rem;
}